:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  color: #272142;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  color: #272142;
  line-height: 30px;
}
hr {
  color: var(--branding-color);
}
a,
a:visited {
  color: var(--branding-color);
}
.hero h1 {
  color: #000000;
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
}
.hero h3 {
  font-size: 36px;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.hero .btn-branding,
.about-me .btn-branding {
  background-color: var(--branding-color);
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
}
.btn-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
}
.project-container {
  padding: 50px 60px;
}
.container-social {
  display: flex;
  color: var(--branding-color);
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.about-me h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 80px;
}
.about-me h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
}
.about {
  padding: 160px 20px;
}
.about-me .profile-pic {
  border-radius: 15px;
}
@media (max-width: 960px) {
  .project-container {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 10px;
  }
  .hero h1 {
    font-size: 44px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .about-me {
    text-align: center;
  }
  .about-me {
    padding: 0%;
  }
  .about {
    padding-top: 20px;
  }
}
